:root {
  --form-label-font-size: 14px;
  --form-label-color: #333;
  --form-label-required-color: #f5222d;
  --form-label-margin-bottom: 8px;
  --form-label-width: auto;
  
  --form-item-margin-bottom: 24px;
  --form-item-error-margin-bottom: 4px;
  
  --form-control-width: auto;
  
  --form-error-font-size: 12px;
  --form-error-color: #f5222d;
  --form-error-padding: 4px 0;
  --form-error-transition-duration: 0.6s;
  --form-error-transform-offset: -20px;
  
  --form-help-font-size: 12px;
  --form-help-color: #00000073;
  --form-help-padding: 4px 0;
  
  --form-wrapper-padding: 18px;
  --form-wrapper-border-radius: 4px;
  
  --form-inline-item-margin-right: 24px;
}
