.divider {
    padding: 0;
    margin: 0;
    width: auto;
    background-color: #339af0;
}

.divider-horizontal {
    height: 1px;
    width: auto;
}

.divider-vertical {
    width: 0;
    height: 100%;
    border-left: 1px solid #339af0;
    background-color: transparent;
}

.divider-dashed.divider-horizontal {
    background: repeating-linear-gradient(
        to right,
        currentColor,
        currentColor 4px,
        transparent 4px,
        transparent 8px
    );
}

.divider-dashed.divider-vertical {
    border-left: 1px dashed currentColor;
    background-color: transparent;
}

