.idp-notice {
    width: 100%;
    background: linear-gradient(90deg, #1a2980, #26d0ce);
    border-radius: 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.idp-notice-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    background: linear-gradient(90deg, #26d0ce, #1a2980);
}

.idp-notice-close:hover {
    transform: scale(1.05);
}

.idp-notice-floating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100% !important;
    box-sizing: border-box;
}